.roxo{
    background-color: rgb(205, 170, 250);
}

.card{
    width: 80%;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}