.roxo{
    background-color: rgb(205, 170, 250);
}
.rosa{
    background-color: rgb(250, 170, 243);
}

.card{
    width: 80%;
    height: 95vh;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
}

.card h2{
    font-size: 40px;
}

.card img{
    border-radius: 10px;
    max-height: 100%;
    min-height: 80%;
}

.card p{
    font-size: 25px;
}